<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated site -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.link.site.presentation.SiteModelWizardID"
            name="%_UI_SiteModelWizard_label"
            class="com.link.site.presentation.SiteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SiteModelFile.gif">
         <description>%_UI_SiteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated site -->
      <editor
            id="com.link.site.presentation.SiteEditorID"
            name="%_UI_SiteEditor_label"
            icon="icons/full/obj16/SiteModelFile.gif"
            extensions="site"
            class="com.link.site.presentation.SiteEditor"
            contributorClass="com.link.site.presentation.SiteActionBarContributor">
      </editor>
   </extension>

</plugin>
